.featuredProducts{
    // width: 100vw;
    margin: 100px 200px;

    .top{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;

        h1{
            flex: 2;
        }
        p{
            flex: 3;
        }
    }

    .bottom{
        display: flex;
        // align-items: center;
        justify-content: center;
        // margin: 50px 300px;
        gap: 50px;
    }
}